.title {
  padding: 0 0.5rem;
  font-size: 2rem;
}

.parent {
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgba(var(--foreground), var(--sub-translucent));
}
.product:nth-last-child(1) {
  border: none;
}
.product button:nth-last-child(1) {
  margin-left: 0.5rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 3rem;
  margin-right: 1rem;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: var(--sub-border-radius);
}

.details .title {
  width: 100%;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.details .price {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(var(--accent));
  filter: brightness(0.8);
}

.quantity {
  display: flex;
  flex-direction: row;
}