@import "nprogress/nprogress.css";

/* GLOBAL VARIABLE */
:root {
  --body: 243, 243, 243;
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --accent: 230, 179, 37;
  --error: 255, 10, 10;
  --border-radius: 0.5rem;
  --sub-border-radius: 0.25rem;
  --backdrop-content: blur(30px);
  --hover-color: #ffffffba;
  --hover-shadow: #00000030 0 10px 15px;
  --box-shadow: #34343443 0 3px 10px;
  --translucent: 70%;
  --sub-translucent: 30%;
}

/* [theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

[theme="dark"] {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
} */



/* GLOBAL DEFAULT */
html, body {
  max-width: 100vw;
  min-height: 100dvh;
}

body {
  min-height: 100dvh;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--foreground));
  background: rgb(var(--body));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  width: 75rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgb(var(--background));
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-alan);
  transition: background-color 0.2s, box-shadow 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  width: max-content;
  min-width: 2.3rem;
  height: 2.3rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background-color: transparent;
  border-radius: var(--sub-border-radius);
}
button:hover {
  background-color: var(--hover-color);
}

a:active, button:active {
  filter: opacity(0.75);
  border-radius: var(--sub-border-radius);
  transition: filter 0.2s;
}

ul > li {
  list-style: none;
}

svg {
  width: 1.8rem;
}

input, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  color: rgb(var(--accent))
}

.button {
  color: rgb(var(--background));
  background-color: rgba(var(--foreground), var(--translucent)) !important;
  border-radius: var(--sub-border-radius);
}

.delete {
  color: rgb(var(--background));
  background-color: rgb(var(--error)) !important;
  border-radius: var(--sub-border-radius);
}



/* NPROGRESS */
#nprogress .bar {
  background: rgb(var(--accent)) !important;
  height: 5px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(var(--accent)), 0 0 5px rgb(var(--accent));
}

#nprogress .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nprogress .spinner-icon {
  width: 40px;
  height: 40px;
  border-width: 4px;
  border-top-color: rgb(var(--accent));
  border-left-color: rgb(var(--accent));
}